{% extends '/back.html.twig' %}
{% block content %}

<h1 top="50%">Clients</h1>
    <a href="{{ path('addClient') }}" class="btn-primary"><i class="fas fa-user-plus"></i><span>ajouter</span></a>

    <div class="card" >

        {% for e in client  %}
            <img  src="{{ asset('uploads/images/' ~ e.image)}}" style="border-radius: 4px;width: 30px;height: 30px;"  alt=""/>

            <p>{{ e.nom}} {{ e.prenom }}

                <a href="{{ path ('afficherCLD',{'id':e.idcl}) }}" class="btn-primary"><i class="fas fa-eye"></i><span> profil</span>
                </a></p>

        {% endfor %}
    </div >
{% endblock %}