
{% extends '/in.html.twig' %}
{% block content %}


{% endblock %}
{% block banner %}
    <div class=" w-100 vh-100 d-flex justify-content-center align-items-center" >
    <div class="content text-center">
        <div class="container">
            <div class="row gutters">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="account-settings">
                                <div class="user-profile">
                                    <div class="user-avatar">
                                        <img src="{{ asset('uploads/images/user.png' ) }}"  alt="profile-sample4" class="profile" />
                                    </div>
                                    <h5 class="user-name">{{ client.nom}} {{ client.prenom }}</h5>
                                    <h6 class="user-email">{{client.email}}</h6>
                                </div>
                                <div class="about">
                                    <br>

                                    <br>
                                    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}

                                    <h3 >
                                        modifier le mot de passe
                                    </h3>

                                    <!--begin::Form-->
                                    <!--ajoute1r un evenement-->

                                    <div>

                                        {{ form_errors(form.password) }}
                                        {{ form_widget(form.password) }}
                                    </div>
                                    <br>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="mb-2 text-primary">Détails personnels</h6>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="fullName">Nom et prénom</label>
                                        <p> {{ client.nom}} {{ client.prenom }}</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="eMail">Email</label>
                                        <p>{{ client.email }}</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                    <p>  {{
                                        client.num }}     </p>                               </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="website">Username</label>
                                        <p>{{ client.username }}</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="website">Membre depuis</label>
                                        <p>{{ client.datecreation|date('d-m-Y') }}</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">

                                    <label for="Street">Facture payée</label>
                                    <p>{{ client.paye }}</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        body {
            margin: 0;
            padding-top: 40px;
            color: #2e323c;
            background: #f5f6fa;
            position: relative;
            height: 100%;
        }
        .account-settings .user-profile {
            margin: 0 0 1rem 0;
            padding-bottom: 1rem;
            text-align: center;
        }
        .account-settings .user-profile .user-avatar {
            margin: 0 0 1rem 0;
        }
        .account-settings .user-profile .user-avatar img {
            width: 90px;
            height: 90px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
        }
        .account-settings .user-profile h5.user-name {
            font-size: 16px;

            margin: 0 0 0.5rem 0;
        }
        .account-settings .user-profile h6.user-email {
            margin: 0;
            font-size: 10px;
            font-weight: 400;
            color: #9fa8b9;
        }
        .account-settings .about {
            margin: 2rem 0 0 0;
            text-align: center;
        }
        .account-settings .about h5 {
            margin: 0 0 15px 0;
            color: #007ae1;
        }
        .account-settings .about p {
            font-size: 0.825rem;
        }
        .form-control {
            border: 1px solid #cfd1d8;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            font-size: .825rem;
            background: #ffffff;
            color: #2e323c;
        }

        .card {
            background: #ffffff;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border: 0;
            margin-bottom: 1rem;
        }
        label{
            font-size: 18px;

        }
        p{
            font-size: 16px;
        }
        h6{
            font-size: 22px;
        }
        h5{
            font-size: 16px;
        }
    </style>
    </div>{% endblock %}
