{% extends '/back.html.twig' %}
{% block content %}
    <div>
    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}

    <h1 >
        Ajouter un bon de livraison
    </h1>

    <!--begin::Form-->
    <!--ajoute1r un evenement-->


    <div>

        <div> {{ form_label(form.docbonliv,'bon de livraison: ') }}</div>
        {{ form_errors(form.docbonliv) }}
        {{ form_widget(form.docbonliv) }}
    </div>
    <br>
    <div>
        <div>    {{ form_label(form.client,'client: ') }}</div>
        {{ form_errors(form.client) }}
        {{ form_widget(form.client) }}
    </div>
    {{ form_end(form) }}
    </div>{% endblock%}